Task 1

In [6]:
spam = 1

In [7]:
text = "# This is not a comment because it's inside quotes."

In [8]:
2 + 2

4

In [9]:
50 - 5 * 6

20

In [10]:
(50 - 5*6)/4

5.0

In [11]:
8/5

1.6

In [12]:
17/3

5.666666666666667

In [13]:
17//3

5

In [14]:
17 % 3

2

In [15]:
5 * 3 + 2

17

In [16]:
5 ** 2

25

In [17]:
2 ** 7

128

In [18]:
width = 20

In [19]:
height = 5 * 9

In [20]:
width * height

900

In [21]:
n

NameError: name 'n' is not defined

In [22]:
4 * 3.75 - 1

14.0

In [23]:
tax = 12.5 / 100

In [24]:
price = 100.50

In [25]:
price * tax

12.5625

In [26]:
price + _

113.0625

In [27]:
round(_,2)

113.06

In [28]:
'spam eggs'

'spam eggs'

In [32]:
"doesn't"

"doesn't"

In [31]:
"\"yes, they said\""

'"yes, they said"'

In [34]:
s = 'First line.\nSecond Line.'

In [35]:
s

'First line.\nSecond Line.'

In [36]:
print(s)

First line.
Second Line.

In [37]:
print(r'C:\some\name')

C:\some\name

In [38]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [39]:
3 * 'un' + 'ium'

'unununium'

In [40]:
'Py' 'thon'

'Python'

In [41]:
text = ('Put several strings within parentheses ' 'to have them joined together.')

In [42]:
text

'Put several strings within parentheses to have them joined together.'

In [43]:
prefix = 'Py'

In [45]:
prefix + 'thon'

'Python'

In [46]:
word = 'Python'

In [47]:
word[0]

'P'

In [48]:
word[-2]

'o'

In [49]:
word[-1]

'n'

In [50]:
word[1:3]

'yt'

In [51]:
word[:2]

'Py'

In [53]:
'J' + word[1:]

'Jython'

In [54]:
s = 'supercalifragilisticexpialidocious'

In [55]:
len(s)

34

In [56]:
squares = [1,4,9,16,25]

In [57]:
squares

[1, 4, 9, 16, 25]

In [58]:
squares[2]

9

In [59]:
squares + [36,49,64,81,100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [60]:
squares

[1, 4, 9, 16, 25]

In [64]:
cubes = [1,8,27,65,125]

In [65]:
cubes[3] = 64

In [66]:
cubes

[1, 8, 27, 64, 125]

In [67]:
cubes.append(216)

In [68]:
cubes.append(7**3)

In [69]:
cubes

[1, 8, 27, 64, 125, 216, 343]

In [70]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [71]:
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [72]:
letters[2:5] = ['C', 'D', 'E']

In [73]:
letters[2:5] = []

In [74]:
letters

['a', 'b', 'f', 'g']

In [75]:
letters[:] = []

In [76]:
letters = ['a', 'b', 'c', 'd']

In [77]:
len(letters)

4

In [78]:
a = ['a', 'b', 'c']

In [79]:
n = [1, 2, 3]

In [80]:
x = [a, n]

In [81]:
x

[['a', 'b', 'c'], [1, 2, 3]]

In [82]:
a , b = 0,1

In [83]:
while a < 10:
    print(a)
    a,b = b, a + b

0
1
1
2
3
5
8

In [84]:
i = 256 * 256

In [85]:
print('The value of i is', i)

The value of i is 65536

In [86]:
a, b = 0, 1

In [87]:
while a < 1000:
    print(a, end=',')
    a, b = b, a+b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

In [89]:
x = 42

In [90]:
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

More

In [91]:
words = ['cat', 'window', 'defenestrate']

In [92]:
for w in words:
    print(w, len(w))

cat 3
window 6
defenestrate 12

In [93]:
for user, status in users.copy().items():
    if status == 'inactive':
        del users[user]

NameError: name 'users' is not defined

In [94]:
for i in range(5):
    print(i)

0
1
2
3
4

In [96]:
range(5, 10)

range(5, 10)

In [97]:
for n in range(2,10):
    for x in range(2,n):
        if n % x == 0:
            print(n,'equals',x,'*',n//x)
            break
        else:
            print(n,' is a prime number')

3  is a prime number
4 equals 2 * 2
5  is a prime number
5  is a prime number
5  is a prime number
6 equals 2 * 3
7  is a prime number
7  is a prime number
7  is a prime number
7  is a prime number
7  is a prime number
8 equals 2 * 4
9  is a prime number
9 equals 3 * 3

In [98]:
while True:
    pass

KeyboardInterrupt:

In [99]:
class MyEmptyClass:
    pass

In [100]:
def initlog(*args):
    pass

In [101]:
def fib(n):
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a + b
    print()

In [102]:
fib(2000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

In [103]:
def ask_ok(prompt, retries=4, reminder='Please try again!'):
    while True:
        ok = input(prompt)
        if ok in ('y', 'ye', 'yes'):
            return True
        if ok in ('n', 'no', 'nop', 'nope'):
            return False
        retries = retries - 1
        if retries < 0:
            raise ValueError('invalid user response')
        print(reminder)

In [104]:
i = 5

def f(arg=i):
    print(arg)

i = 6
f()

5

In [105]:
def f(a, L=[]):
    L.append(a)
    return L

print(f(1))
print(f(2))
print(f(3))

[1]
[1, 2]
[1, 2, 3]

In [106]:
def f(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L

In [107]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")

In [108]:
parrot(1000)                                          # 1 positional argument
parrot(voltage=1000)                                  # 1 keyword argument
parrot(voltage=1000000, action='VOOOOOM')             # 2 keyword arguments
parrot(action='VOOOOOM', voltage=1000000)             # 2 keyword arguments
parrot('a million', 'bereft of life', 'jump')         # 3 positional arguments
parrot('a thousand', state='pushing up the daisies')

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't jump if you put a million volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's bereft of life !
-- This parrot wouldn't voom if you put a thousand volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's pushing up the daisies !

In [109]:
def standard_arg(arg):
    print(arg)

In [110]:
standard_arg(2)

2

In [112]:
def pos_only_arg(*, arg):
    print(arg)

In [114]:
def foo(name, /, **kwds):
    return 'name' in kwds

SyntaxError: invalid syntax (<ipython-input-114-e489b643ad2b>, line 1)

In [115]:
def write_multiple_items(file, separator, *args):
    file.write(separator.join(args))

In [116]:
def concat(*args, sep="/"):
     return sep.join(args)

In [117]:
concat("earth", "mars", "venus")

'earth/mars/venus'

In [118]:
concat("earth", "mars", "venus", sep=".")

'earth.mars.venus'

In [119]:
list(range(3, 6))

[3, 4, 5]

In [120]:
args = [3, 6]

In [121]:
list(range(*args))

[3, 4, 5]

In [122]:
def parrot(voltage, state='a stiff', action='voom'):
     print("-- This parrot wouldn't", action, end=' ')
     print("if you put", voltage, "volts through it.", end=' ')
     print("E's", state, "!")

In [123]:
d = {"voltage": "four million", "state": "bleedin' demised", "action": "VOOM"}

In [124]:
parrot(**d)

-- This parrot wouldn't VOOM if you put four million volts through it. E's bleedin' demised !

In [125]:
def make_incrementor(n):
     return lambda x: x + n

In [126]:
f = make_incrementor(42)

In [127]:
f(0)

42

In [128]:
def f(ham: str, eggs: str = 'eggs') -> str:
     print("Annotations:", f.__annotations__)
     print("Arguments:", ham, eggs)
     return ham + ' and ' + eggs

In [129]:
f('spam')

Annotations: {'ham': <class 'str'>, 'eggs': <class 'str'>, 'return': <class 'str'>}
Arguments: spam eggs

'spam and eggs'

In [130]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [131]:
fruits.count('apple')

2

In [132]:
fruits.count('tangerine')

0

In [133]:
fruits.index('banana')

3

In [134]:
fruits.index('banana', 4)

6

In [135]:
fruits.reverse()

In [136]:
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [137]:
fruits.append('grape')

In [138]:
fruits.sort()

In [139]:
fruits.pop()

'pear'

In [140]:
stack = [3, 4, 5]

In [141]:
stack.append(6)

In [142]:
stack.append(7)

In [143]:
stack

[3, 4, 5, 6, 7]

In [145]:
stack.pop()

6

In [146]:
stack

[3, 4, 5]

In [147]:
from collections import deque

In [148]:
queue = deque(["Eric", "John", "Michael"])

In [149]:
queue.append('Terry')

In [150]:
queue.append('Graham')

In [151]:
queue.popleft()

'Eric'

In [152]:
queue.popleft()

'John'

In [153]:
queue

deque(['Michael', 'Terry', 'Graham'])

In [154]:
squares = []

In [155]:
for x in range(10):
     squares.append(x**2)

In [156]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [157]:
squares = list(map(lambda x: x**2, range(10)))

In [158]:
squares = [x**2 for x in range(10)]

In [159]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [160]:
vec = [-4, -2, 0, 2, 4]

In [161]:
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [162]:
[x for x in vec if x >= 0]

[0, 2, 4]

In [163]:
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [164]:
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']

In [165]:
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [166]:
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [167]:
[x, x**2 for x in range(6)]

SyntaxError: invalid syntax (<ipython-input-167-a4841c5cdd7d>, line 1)

In [168]:
vec = [[1,2,3], [4,5,6], [7,8,9]]

In [169]:
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [170]:
from math import pi

In [171]:
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [172]:
matrix = [
     [1, 2, 3, 4],
     [5, 6, 7, 8],
     [9, 10, 11, 12],
 ]

In [173]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [174]:
transposed = []

In [175]:
for i in range(4):
     transposed.append([row[i] for row in matrix])

In [176]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [177]:
a = [-1, 1, 66.25, 333, 333, 1234.5]

In [178]:
del a[0]

In [179]:
del a[2:4]

In [180]:
del a[:]

In [181]:
del a

In [182]:
t = 12345, 54321, 'hello!'

In [183]:
t[0]

12345

In [184]:
t

(12345, 54321, 'hello!')

In [185]:
u = t, (1, 2, 3, 4, 5)

In [186]:
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [187]:
t[0] = 88888

TypeError: 'tuple' object does not support item assignment

In [188]:
v = ([1, 2, 3], [3, 2, 1])

In [189]:
empty = ()

In [190]:
singleton = 'hello',

In [191]:
len(empty)

0

In [192]:
len(singleton)

1

In [193]:
singleton

('hello',)

In [194]:
x, y, z = t

In [195]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}

In [196]:
print(basket)

{'banana', 'orange', 'apple', 'pear'}

In [197]:
'orange' in basket

True

In [198]:
'crabgrass' in basket

False

In [199]:
a = set('abracadabra')

In [200]:
b = set('alacazam')

In [201]:
a

{'a', 'b', 'c', 'd', 'r'}

In [202]:
a = {x for x in 'abracadabra' if x not in 'abc'}

In [203]:
a

{'d', 'r'}

In [204]:
tel = {'jack': 4098, 'sape': 4139}

In [205]:
tel['guido'] = 4127

In [210]:
tel

{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [207]:
tel['jack']

4098

In [208]:
del tel['sape']

In [209]:
tel['irv'] = 4127

In [211]:
list(tel)

['jack', 'guido', 'irv']

In [212]:
'guido' in tel

True

In [213]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [214]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [215]:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [216]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}

In [217]:
for k, v in knights.items():
     print(k, v)

gallahad the pure
robin the brave

In [218]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i,v)

0 tic
1 tac
2 toe

In [219]:
questions = ['name', 'quest', 'favorite color']

In [220]:
answers = ['lancelot', 'the holy grail', 'blue']

In [221]:
for q, a in zip(questions, answers):
     print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [222]:
for i in reversed(range(1, 10, 2)):
     print(i)

9
7
5
3
1

In [223]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']

In [224]:
for f in sorted(set(basket)):
     print(f)

apple
banana
orange
pear

In [225]:
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]

In [226]:
filtered_data = []

In [227]:
for value in raw_data:
     if not math.isnan(value):
         filtered_data.append(value)

In [228]:
filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

In [229]:
string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'

In [230]:
non_null = string1 or string2 or string3

In [231]:
non_null

'Trondheim'

In [233]:
import pandas as pd

In [234]:
df = pd.read_csv("/Users/djosue27/OneDrive/Big Data XTOL/Module 2/cars.csv", header=0)